<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used for Data Science
- Revise common tools used in Data Science and some examples
- Evaluate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools|Examples|
|-----------------------|--------|
|Relational databases|MySQL,PostgreSQL|
|NoSQL databases| mongoDB, CouchDB, Cassandra|
|File based tools| hadoopHDFS|
|Cloud based tools| ceph|
|Data integration and transformation tools|ApacheAirflow, KubeFlow, ApacheKafka|
|Data visualization|PixieDust, Hue, Kibana, ApacheSuperset|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [ ]:
expression1 = 5 + 3 * 2
result1 = expression1
print(result1)  # Output: 11

expression2 = (7 - 2) / 2
result2 = expression2
print(result2)  # Output: 2.5

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
print(f' 200 mintes corresponds to {200/60:.2f} hours')

 200 mintes corresponds to 3.33 hours

## Author
Lorena L.